{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <h1 class="orange-text header center">Cadastre-se</h1>

    <p>Preencha o formulário abaixo e entraremos em contato com você assim que a plataforma estiver aberta ao
        público.</p>

    <br>
    <form method="post" action="{% url "signup" %}">
        {% include "form_snippet.html" with form=form %}
        {% csrf_token %}

        <button class="btn waves-effect waves-light" type="submit" name="action">Mostrar interesse!
            <i class="mdi-content-send right"></i>
        </button>
    </form>
{% endblock %}