{% extends 'base/master.html' %}


{% block content %}
<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
	<h1>Meus Grupos</h1>
	 {% if object_list %}
		<ul class="collection">
			{% for group in object_list %}
				<li class="collection-item"><i class="mdi-social-group"></i> <a href='{{ group.get_absolute_url }}'>{{ group.name }} </a></li>
			{% endfor %}
		</ul>
		{% else %}
			<span>
				Você ainda não está participando de nenhum grupo.
			</span>		
	{% endif %}

		<h1>Grupos Públicos</h1>
		<ul>
			{% for group in public_groups %}
				<li class="collection-item"><i class="mdi-social-group"></i> <a href='{{ group.get_absolute_url }}'>{{ group.name }} </a></li>
			{% endfor %}
		</ul>

		<a href="{% url 'group_create' %}" class="teal-text accent-1">Clique aqui para criar um grupo.</a>
	</div>
<div>
{% endblock %}