{% extends 'base/master.html' %}


{% block content %}
<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
	<h1> {{ object.name }} </h1>

	<p>Grupo {% if object.is_public %}Público{% else %}Privado{% endif %}</p>

	<h3>Membros:</h3>
		{% if object.group_access_set.all %}
			<ul>
				{% for each in object.group_access_set.all %}
					<li> {{ each.user.userprofile.name }} </li>	
				{% endfor %}
			</ul>
		{% else %}
			Nenhum membro. <br><br>
			Quer participar do grupo? <br>
		{% endif %}
	
	{% if not is_member %}
		<a class='btn btn-primary' href='{% url "join_group" object.id %}'>Participar do Grupo</a>
	{% else %}
		<a class='btn btn-warning' href='{% url "leave_group" object.id %}'>Abandonar Grupo</a>
	{% endif %}

	</div>
</div>
{% endblock %}