{% extends 'base/master.html' %}

{% block content %}
	<div class="row">

		<div class='col-md-8 col-md-offset-2'>

			<h1>Roteiros</h1>

			<p>Para criar um roteiro é necessário fazer parte de algum grupo. Caso você ainda não faća parte de um grupo, você pode criar o seu grupo na aba "Grupos".</p>

			<div class='col-md-6'>
				<h2>Meus Roteiros</h2>
				{% if conta %}
				{% for agroup in grupos %}
					<ul>
					{% if agroup.group.trip_set.all %}
						<li><h3><a href='{% url "group_details" agroup.group.id %}'>Grupo {{ agroup.group.name }}</a></h3>
						<ul>
						{% for trip in agroup.group.trip_set.all %}
							<li><a href="">{{ trip.name }}</a></li>
						{% endfor %}
						</ul></li>
					{% endif %}
					</ul>
				{% endfor %}
				{% else %}
					<p>Você não possui nenhum roteiro. Tente entrar um <a href='{% url 'groups' %}'>Grupo</a> para iniciar.</p>
				{% endif %}
			</div>


			<div class='col-md-6'>
				<h2>Roteiros Públicos</h2>

				{% if publicos %}
				<ul>
					{% for trip in publicos %}
							<li><a href="#">{{ trip.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
					<p>Parece que não existe nenhum roteiro público. Que tal criar um?</p>
				{% endif %}
			</div>


		</div>

	</div>
{% endblock %}