{% extends "base/master.html" %}

{% block content %}
<div class='row'>
    <div class='col-md-8 col-md-offset-2'>
        <h1>Roteiro de Viagem</h1>
        <h2>{{ object.name }}</h2>
        <h4>Elaborado por {{ object.owner.userprofile.name }} para o Grupo {{ object.group.name }}</h4>
        <h6>De {{ object.start_at }}  até {{ object.end_at }} </h6>
        <p><strong>Origem:</strong> {{ object.start_point }}</p>
        <p><strong>Destino:</strong> {{ object.end_point }}</p>

        <p>{{ object.description }}</p>

    </div>
</div>

    <div class="row">
        <div class='col-md-8 col-md-offset-2'>
            <div id="map_canvas" style="width: 100%; height: 500px;"></div>
        </div>
    </div>


    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h4>Roteiro:</h4>
            {% for cada in object.route_set.all %}
            {{ cada.start_point }} até {{ cada.end_point }}
                {% for waypoint in cada.waypoint_set.all %}
                    way: {{ waypoint }}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script>
        var Directions = {
            start_point: "{{ object.start_point }}",
            end_point: "{{ object.end_point }}",
            waypoints:[
                {% for point in object.route_set.first.waypoint_set.all %}
                    {latitude: "{{ point.latitude }}", longitude: "{{ point.longitude}}"},
                {% endfor %}
            ]
        }
    </script>



{% endblock %}