{% extends "base/master.html" %}

{% block content %}
    <div class="row">
        <div id="map_canvas" style="width: 100%; height: 500px;"></div>
    </div>
    <script>
        var Directions = {
            start_point: "{{ object.start_point }}",
            end_point: "{{ object.end_point }}",
            waypoints:[
                {% for point in object.route_set.first.waypoint_set.all %}
                    {latitude: "{{ point.latitude }}", longitude: "{{ point.longitude}}"},
                {% endfor %}
            ]
        }
    </script>
{% endblock %}