{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row home">
	  <div class="col-md-offset-1 col-md-4">
	    <h1>PLANEJE SUA VIAJEM COM OS AMIGOS</h1>
	  	<p class="lead">Crie rotas, organize grupos e compartilhe sua experiência na estrada</p>
	  	<a href="#" class="btn btn-default">Comece uma viajem</a>
	  </div>
	</div>
	<div class="row como-funciona">
	  <div class="col-md-12 text-center">
	    <h1><i class="fa fa-road"></i></h1>
  		<h2>CRIE SUA ROTA</h2>
  		<p class="box">Trace sua rota e marque os pontos de parada do seu grupo.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	  </div>
	</div>
{% endblock %}
