{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block description %}Esqueleto do Projeto{% endblock %}">
	<meta name="author" content="{% block author %}Ikke/14{% endblock %}">

	<title>{% block title %}Início{% endblock %} - Projeto</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>
  	<div class="container login">
  		<div class="box-login">
  			<h1><img src="{% static 'img/mototrip_brand.png' %}"></h1>

  			{% if form.errors %}
  			<p>Seu usuário ou senha não combinam. Tente novamente</p>
  			{% endif %}
  			<form method="post" class="form-login"  action="{% url 'django.contrib.auth.views.login' %}">
  				{% csrf_token %}
  				{% load socialaccount %}
          {% providers_media_js %}
          
          <h2 class="form-login-heading text-center">COMECE SUA VIAGEM</h2>
          <ul class="social-logins">
            <li><a title="Facebook" class="btn btn-lg btn-social facebook" href="{% provider_login_url "facebook" method="js_sdk" %}"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a title="Twitter" class="btn btn-lg btn-social twitter" href="/accounts/twitter/login/?process=login"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a title="Google" class="btn btn-lg btn-social google" href="/accounts/google/login/?process=login"><i class="fa fa-google-plus"></i> Google</a></li>
          </ul>

          <h2 class="form-login-heading text-center">CONTA ROADTRIP</h2>
  				<div class="form-group">
  					<label for="id_username" class="sr-only">Usuário</label>
  					<input type="text" id="id_username" name="username" class="form-control input-lg" placeholder="Usuário" required autofocus>
  				</div>
  				<div class="form-group">
  					<label for="id_password" class="sr-only">Senha</label>
  					<input type="password" id="id_password" name="password" class="form-control input-lg" placeholder="Senha" required>
  				</div>
  				

  				{% include "socialaccount/snippets/login_extra.html" %}
  				<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  				<input type="hidden" name="next" value="{{ next }}" />
  			</form>
  		</div>
  	</div>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  </html>