{% extends 'base/base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
	<h1>Olá {{ user.userprofile.name }}!</h1>
	

	<h3>Meus Grupos</h3>
		{% if user.group_access_set.all %}
		<ul class="collection">
			{% for agroup in user.group_access_set.all %}
				<li class="collection-item"><i class="mdi-social-group"></i> <a href='{{ agroup.group.get_absolute_url }}'>{{ agroup.group.name }} </a></li>
			{% endfor %}
		</ul>
		{% else %}
			Você nao faz parte de nenhum grupo. <a href="{% url 'group_create' %}" class="teal-text accent-1">Clique aqui para criar um grupo.</a>
		{% endif %}



	<p class="lead">Você pode fazer várias coisas legais:</p>
	<ul>
		<li><a href="{% url 'groups' %}">Gerenciar seus Grupos</a></li>
		<li><a href="{% url 'edit_profile' %}">Completar seu Perfil</a></li>
		<li><a href="">Comecar uma Viagem</a></li>
	</ul>
{% endblock %}
